## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = 'C:\\Users\\justi\\Desktop\\ML100\\kaggle\\Home Credit Default Risk'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % f_app)
app_train = pd.read_csv(f_app)

Path of read in data: C:\Users\justi\Desktop\ML100\kaggle\Home Credit Default Risk\application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [12]:
app_train.shape
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

#### 列出所有欄位

In [16]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [17]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [15]:
app_train[app_train['NAME_CONTRACT_TYPE'] == 'Revolving loans']

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
17,100021,0,Revolving loans,F,N,Y,1,81000.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.0,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.0,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
29,100034,0,Revolving loans,M,N,Y,0,90000.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
39,100046,0,Revolving loans,M,Y,Y,0,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
45,100052,0,Revolving loans,F,N,Y,1,90000.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
50,100058,0,Revolving loans,F,N,Y,0,54000.0,135000.0,6750.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
57,100068,0,Revolving loans,M,N,Y,0,81000.0,247500.0,12375.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
67,100079,0,Revolving loans,M,N,Y,0,225000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
68,100080,0,Revolving loans,F,N,N,1,157500.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
76,100088,0,Revolving loans,F,N,N,0,112500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
80,100095,0,Revolving loans,F,N,Y,2,67500.0,135000.0,6750.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
83,100098,0,Revolving loans,M,Y,N,0,225000.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100,100119,0,Revolving loans,F,N,Y,0,54000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
107,100126,0,Revolving loans,M,N,Y,2,135000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
109,100129,0,Revolving loans,F,Y,Y,1,85500.0,135000.0,6750.0,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0
114,100134,0,Revolving loans,F,N,N,0,202500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
120,100140,0,Revolving loans,F,N,N,0,157500.0,675000.0,33750.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
122,100143,0,Revolving loans,M,N,Y,0,162000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
132,100154,0,Revolving loans,M,N,N,0,144000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
147,100174,0,Revolving loans,F,N,Y,2,180000.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
155,100182,0,Revolving loans,F,N,Y,1,112500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
165,100194,0,Revolving loans,F,N,Y,2,157500.0,315000.0,15750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
180,100209,1,Revolving loans,M,N,Y,3,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
194,100226,0,Revolving loans,F,N,N,2,112500.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
198,100230,0,Revolving loans,F,N,N,0,135000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
201,100234,0,Revolving loans,F,N,N,0,67500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
233,100270,0,Revolving loans,F,N,Y,0,90000.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307129,455825,0,Revolving loans,F,N,Y,0,360000.0,765000.0,38250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307133,455830,1,Revolving loans,F,N,Y,0,90000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307137,455834,0,Revolving loans,F,N,Y,0,139500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307184,455887,0,Revolving loans,M,N,Y,0,157500.0,202500.0,10125.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307188,455891,0,Revolving loans,F,N,Y,0,180000.0,382500.0,19125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
307199,455904,0,Revolving loans,M,Y,Y,2,202500.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307209,455917,0,Revolving loans,F,N,Y,0,180000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307210,455918,0,Revolving loans,F,N,Y,0,72000.0,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307220,455928,0,Revolving loans,M,Y,Y,0,135000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,3.0,3.0
307226,455934,0,Revolving loans,F,Y,Y,0,166500.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307234,455943,0,Revolving loans,F,Y,N,0,72000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
307235,455944,0,Revolving loans,F,N,Y,0,63000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307286,456003,0,Revolving loans,F,Y,Y,2,90000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307287,456004,0,Revolving loans,F,Y,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307298,456021,0,Revolving loans,F,N,Y,0,180000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307302,456025,0,Revolving loans,F,N,Y,0,144000.0,180000.0,9000.0,...,0,0,0,0,0.0,1.0,0.0,0.0,0.0,2.0
307314,456038,0,Revolving loans,F,N,N,1,121500.0,382500.0,19125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307332,456056,0,Revolving loans,M,N,Y,1,193500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307372,456097,0,Revolving loans,M,N,Y,0,112500.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307375,456100,0,Revolving loans,F,N,Y,0,63000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307384,456109,0,Revolving loans,M,N,N,0,180000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307385,456110,0,Revolving loans,M,Y,Y,2,180000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307402,456135,0,Revolving loans,F,N,Y,0,157500.0,382500.0,19125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307419,456152,0,Revolving loans,F,N,N,1,112500.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
307425,456158,0,Revolving loans,M,Y,Y,2,234000.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307444,456182,0,Revolving loans,F,N,Y,2,90000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307457,456196,0,Revolving loans,F,N,Y,2,202500.0,360000.0,18000.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0
307467,456207,0,Revolving loans,F,N,Y,0,247500.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307485,456229,0,Revolving loans,F,N,Y,1,270000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307496,456240,0,Revolving loans,F,N,N,0,360000.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [32]:
app_train[(app_train['NAME_CONTRACT_TYPE'] == 'Revolving loans') & (app_train["TARGET"] == 1) & (app_train['CODE_GENDER'] =='M') & (app_train['CNT_CHILDREN'] == 3)]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
180,100209,1,Revolving loans,M,N,Y,3,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
6365,107428,1,Revolving loans,M,N,N,3,180000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
24527,128533,1,Revolving loans,M,N,Y,3,72000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
57930,167146,1,Revolving loans,M,Y,Y,3,112500.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
154525,279099,1,Revolving loans,M,Y,Y,3,180000.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
181571,310449,1,Revolving loans,M,Y,Y,3,112500.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
214658,348736,1,Revolving loans,M,N,N,3,139500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
259740,400583,1,Revolving loans,M,Y,Y,3,225000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,5.0

In [33]:
app_train[['SK_ID_CURR','TARGET']]

        SK_ID_CURR  TARGET
0           100002       1
1           100003       0
2           100004       0
3           100006       0
4           100007       0
5           100008       0
6           100009       0
7           100010       0
8           100011       0
9           100012       0
10          100014       0
11          100015       0
12          100016       0
13          100017       0
14          100018       0
15          100019       0
16          100020       0
17          100021       0
18          100022       0
19          100023       0
20          100024       0
21          100025       0
22          100026       0
23          100027       0
24          100029       0
25          100030       0
26          100031       1
27          100032       0
28          100033       0
29          100034       0
...            ...     ...
307481      456225       1
307482      456226       0
307483      456227       0
307484      456228       0
307485      456229       0
307486      456230       0
307487      456231       0
307488      456232       0
307489      456233       1
307490      456234       0
307491      456235       0
307492      456236       0
307493      456237       0
307494      456238       0
307495      456239       0
307496      456240       0
307497      456241       0
307498      456242       0
307499      456243       0
307500      456244       0
307501      456245       0
307502      456246       0
307503      456247       0
307504      456248       0
307505      456249       0
307506      456251       0
307507      456252       0
307508      456253       0
307509      456254       1
307510      456255       0

[307511 rows x 2 columns]